.center {
  text-align: center;
}

#chartContainer {
  height: 300px;
  width: 100%;
}

.hidden {
  visibility: hidden;
}

#counterText {
  color: LimeGreen;
  font-weight: bold;
}

.button-primary {
  transition: 0.5s all ease;
}

body {
  margin: 3%;
  border: 12px solid lightgrey;
  padding: 3%;
}

h1 {
  font-weight: bold;
  color: LimeGreen;
}
