.center {
  text-align: center;
}

#chartContainer {
  height: 300px;
  width: 100%;
}

.hidden {
  visibility: hidden;
}

#counterText {
  color: LimeGreen;
  font-weight: bold;
}

.button-primary {
  transition: 0.5s all ease;
}

body {
  margin: 3%;
  border: 12px solid lightgrey;
  padding: 3%;
}

h1 {
  font-weight: bold;
  color: LimeGreen;
}

.up {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.up:hover {
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-box-shadow: 3px 9px 41px -5px rgba(128,128,128,1);
  -moz-box-shadow: 3px 9px 41px -5px rgba(128,128,128,1);
  box-shadow: 3px 9px 41px -5px rgba(128,128,128,1);
}
